* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 50vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* background-image: linear-gradient(to bottom right, #4f4b50, #f0efe5); */
}

.container {
    /* background-color: #fff100; */
    width: 1000px;
    max-width: 100%;
    margin: 0 auto 0;
    border-radius: 0px;
}

/* =====================================================Sartorius_Logo */

.sartoriusbox {
    width: 100%;
    height: 60px;
    background-color: #FFF100;
    position: relative;
    display: flex;
}

.sartorius_logo {
    width: 130px;
    position: absolute;
    left: 20px;
    top: 30%;
    animation-duration: 3s;
    animation-name: slidein_logo;
}

@keyframes slidein_logo {
    from {
        margin-left: 100px;
        width: 130px;
    }

    to {
        /* .sartorius_logo에서 image의 위치는 left와 top으로 정해졌지만 animation에서의 위치는 다르다 */
        margin-left: 0px;  
        width: 130px;
    }
}

.specialistbox {
    position: absolute;
    width: 80px;
    right: 10px;
    bottom: 10px;
    height: 25px;
}

.specialist {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 11px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 25px;
}

/* ========================================================Form Filter */

.filter {
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 1%;
    row-gap: 10px
}

.filter .item {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .item select,
.filter .item input,
.filter .item button {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #ddd;
    outline: none;
}

.filter .item label {
    display: block;
    width: 75%;
    padding: 0 5px;
    font-size: 12px;
}

.filter .item button {
    background-color: #FFF100;
    color: black;
    cursor: pointer;
}

/* ==========================================================countResults */

.countResults{
    width: 100%;
    height: 45px;
    background-color: #FFF100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* ================================================================List */

#list {
    padding: 10px;
    display: grid;
    column-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    text-align: center;
}

#list .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 5px 0;
    border-radius: 0px;
    cursor: pointer;
    animation-duration: 1s;
    animation-name: fadeinout;
}

@keyframes fadeinout {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#list .item {
    background-color: #FFF100;
    text-align: center;
    border-radius: 0;
}

#list .item .title {
    font-size: 12px;
    font-weight: bold;
}

#list .item .brand {
    color: black;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 10px;

}

/* ===============================================================footer */

.footer {
    position: relative;
}

.sartoriusend {
    position: absolute;
    /* Bottom을 0으로 할 경우 list 부분의 내용이 잘릴 수 있다. 이 떄 scroll을 써보면 어떨까? */
    /* bottom: 0; */ 
    width: 100%;
    height: 200px;
    margin-top: 70px;
    background-color: #404040;
}

.footer .sartoriusend img {
    position: absolute;
    width: 130px;
    right: 20px;
    bottom: 20px;
}



/* ======================================================== MODAL Window */

input[id*="popup"] {
    display: none;
}

/* Modal_Label_01 */
input[id*="popup"] + label {
    display: inline-block;
    padding: 0px;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* 모달창 위치를 설정하기 위해 아래와 같이 position을 설정해 준다 */
input[id*="popup"] + label + div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}


input[id*="popup"] + label + div > div {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    height: 700px;
    background-color: #FFF100;
    color: black;
    z-index: 2;
}

/* Modal_Label_02 */
input[id*="popup"] + label + div > div > label {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: black;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;
}

/* 부모 요소 자식 요소가 아니고 같은 동등 위치 인접요소는 +로 선택 */
/* Modal_Label_03 */
input[id*="popup"] + label + div > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    cursor: pointer;
}

/* 모달윈도우 action : Animation*/

input[id*="popup"] + label + div {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

input[id*="popup"]:checked + label + div {
    opacity: 1;
    visibility: visible;
}

/* 모달윈도우 내용 */
.modalcontent {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.modalcontent .intro {
    width: 95%;
    height: 50px;
    margin: 15px auto 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.modalcontent .incharge {
    position: relative;
    border: 1px solid orange;
    width: 95%;
    height: 150px;
    margin : 5px auto;
    /* background-color: black; */
}

.modalcontent .incharge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.modalcontent .incharge div {
    position: absolute;
    /* border: 1px solid #404040; */
    text-align: left;
    top: 35px;
    left: 30px;
    
}

.modalcontent .incharge ul {
    font-size: 14px;
    list-style: none;
}


/* ========================================================POPUP_Window */

.preview_container .preview, 
.description {
    border: 0px solid black;
}

/* display: none / flex으로 해야 ? */
.preview_container {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.preview_container .previewbox {
    width: 85%;
    height: 700px;
    display: none;
    padding: 10px;
    text-align: center;
    background-color: white;
    /* position: relative; */
    animation-duration: 2s;
    animation-name: fadeinout01;
}

@keyframes fadeinout01 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.preview_container .previewbox.active {
    display: inline-block;
    
}

.previewbox .preview {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.closebutton {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 40px;
    top: 0;
    right: 0;
    border-radius: 0 0 0 50%;
    cursor: pointer;
}

.preview_container .previewbox .preview img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    transform: scale(1.2);
}

.description {
    width: 100%;
    margin-top: 30px;

}

#h3name {
    font-size: 18px;
    font-weight: 700;
}

.description ul li {
    font-size: 13px;
    text-align: left;
    list-style: none;
}

